Package: deepines-store
Version: 0.9.6
Installed-Size: 1263577
Maintainer: SebTrujillo <seba.alexis.trujillo@gmail.com>
Section: admin
Homepage: https: //github.com/s384/store_deepines
Architecture: amd64
Priority: optional
Depends: python3-pyqt5, python3-requests, python3-bs4
Description: Tienda de aplicaciones para el repositorio deepines
 Esta aplicación permite instalar de manera gráfica las aplicaciones disponibles en el repositorio Deepines

